.ItemList {
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Item {
    width: 25%;
    height: auto;
    margin: 20px;
}

.Item .username {
    font-size: 3rem;
    text-decoration: underline;
    color: #FFFCA3;
    padding: 10px;
}

.Item .user-info {
    display: flex;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Item .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Item img {
    width: 100%;
    height: auto;
}

.Item .bottom-info {
    background: #527C85;
    padding: 20px;
    min-height: 100px;
}

.Item .title {
    font-size: 2rem;
    text-decoration: underline;
}

.Item i:hover {
    transform: scale(1.2);
}

.Item .liked {
    transform: scale(1.1);
}

.Item .ItemForm {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}

.ItemView {
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemView .Item {
    width: 80%;
    color: #E8E595;
}

@media(max-width: 820px){
    .ItemList {
        width: 90%;
    }

    .Item {
        width: 95%;
        margin: 20px auto;
    }
}

